@charset "UTF-8";

:root {
  --back-color: #222428;
  --scndback-color: #1a2022;
  --thrdback-color: #36383b;
  --timer-color: aqua;
  --player1-color: #9562f5;
  --player2-color: #65def1;
  --winner-color: black;
}

@font-face {
  font-family: "numbers";
  src: url("../font/VCRosdNEUE.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--back-color);
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#game > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--back-color);
  background-color: var(--scndback-color);
  font-size: 5em;
  width: 150px;
  height: 150px;
  text-align: center;
  font-family: "numbers";
  border-radius: 10%;
  text-shadow: 2px 2px 5px rgba(185, 185, 185, 0.37);
  cursor: pointer;
}

#gameStatus {
  display: flex;
  padding: 10px;
  flex-direction: column;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-size: 1.8em;
  font-family: "numbers";
  border-radius: 20px;
  position: absolute;
  top: 30px;
  width: 450px;
  height: 180px;
  letter-spacing: 15px;
  background-color: var(--scndback-color);
  overflow: hidden;
  transition: all 1s;
}

#gameStatus::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0px;
  width: 100%;
  height: 3px;
  background-color: var(--timer-color);
}

#gameStatus span {
  letter-spacing: 0px;
  font-size: 1.5em;
  color: var(--timer-color);
}

#all {
  display: none;
}

#playerNames {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--scndback-color);
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 450px;
  border: 2px solid rgba(128, 128, 128, 0.432);
}

.playerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#playerNames h1 {
  font-family: "century gothic";
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.836);
  letter-spacing: 15px;
  text-align: center;
}

#playBtn,
#playAgain {
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: "century gothic";
  letter-spacing: 5px;
  font-size: 1.2em;
  border: 1px solid var(--back-color);
  position: relative;
  transition: 1s transform;
  background-image: linear-gradient(to right, #d53369, #cbad6d);
  box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.322);
}

#playBtn:hover,
#playAgain:hover {
  transform: scale(0.9);
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.322);
}

#player1,
#player2 {
  width: 80%;
  background-color: var(--thrdback-color);
  border: 0px;
  font-size: 1em;
  padding: 15px;
  letter-spacing: 5px;
  outline: none;
  border-radius: 6px;
}

#colorPlayer1,
#colorPlayer2 {
  border: 0px;
  background-color: var(--thrdback-color);
  padding: 5px;
  outline: none;
  border-radius: 6px;
  height: 50px;
  outline: none;
}

#player1 {
  color: var(--player1-color);
}

#player2 {
  color: var(--player2-color);
}

#player1:focus {
  outline: 2px solid var(--player1-color);
}

#player2:focus {
  outline: 2px solid var(--player2-color);
}

#winnerScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  height: 100%;
  width: 100%;
  display: none;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#winnerScreen h1:nth-child(2) {
  font-size: 5em;
}

#winnerScreen h1 {
  text-shadow: 20px 20px 1215px var(--player1-color),
    20px 20px 105px var(--player2-color);
  color: var(--winner-color);
  font-family: "numbers", "century gothic";
  letter-spacing: 15px;
  font-size: 2.5em;
}

#playAgain {
  animation: playAgainBtn 1s ease-in-out infinite alternate forwards;
  width: 300px;
  background-image: linear-gradient(
    to right,
    var(--player1-color),
    var(--player2-color)
  );
}

button {
  cursor: pointer;
}

/* Animações */

.timer {
  animation: appear 1.5s ease-in-out forwards;
}

.goUp {
  animation: goUp 1s ease-in-out forwards;
}

.winAppear {
  animation: winAppear 2s ease-in-out forwards;
}

.winFade {
  animation: winFade 2s ease-in-out forwards;
}

@keyframes playAgainBtn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

@keyframes goUp {
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes winAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes winFade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 614px) {
  #playerNames {
    width: 90%;
  }

  .playerContent {
    gap: 20px;
  }

  #game > div {
    font-size: 3em;
    width: 100px;
    height: 100px;
  }

  #gameStatus {
    position: relative;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1em;
    width: 100%;
    height: 100px;
    top: 0px;
  }

  #gameStatus span {
    letter-spacing: 0px;
    font-size: 1.5em;
    color: var(--timer-color);
  }

  #all {
    flex-direction: column;
    gap: 20px;
  }

  #winnerScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    height: 100%;
    width: 100%;
    display: none;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #winnerScreen h1:nth-child(2) {
    font-size: 3em;
  }

  #winnerScreen h1 {
    text-shadow: 20px 20px 1215px var(--player1-color),
      20px 20px 105px var(--player2-color);
    color: var(--winner-color);
    font-family: "numbers", "century gothic";
    letter-spacing: 15px;
    font-size: 2.5em;
  }
}
